body {
  background-image: url("data:image/svg+xml,%0A%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1366 768'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-3%7Bfill:%2329d;%7D.cls-1,.cls-4%7Bopacity:0.15;%7D.cls-2%7Bopacity:0.2;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eemail-bg%3C/title%3E%3Cpath class='cls-1' d='M182,83A123,123,0,1,0,305,206,123,123,0,0,0,182,83Zm-1,175a51,51,0,1,1,51-51A51,51,0,0,1,181,258Z'/%3E%3Cpath class='cls-1' d='M1365,354c.33,0,.67,0,1,0V281a123,123,0,0,0,0,246V456c-.33,0-.67,0-1,0a51,51,0,0,1,0-102Z'/%3E%3Ccircle class='cls-1' cx='116' cy='386' r='18'/%3E%3Ccircle class='cls-1' cx='97' cy='361' r='7'/%3E%3Ccircle class='cls-1' cx='65.5' cy='416.5' r='3.5'/%3E%3Ccircle class='cls-1' cx='1011' cy='626' r='18'/%3E%3Ccircle class='cls-1' cx='960.5' cy='656.5' r='3.5'/%3E%3Ccircle class='cls-1' cx='1317' cy='150' r='18'/%3E%3Ccircle class='cls-1' cx='1298' cy='125' r='7'/%3E%3Ccircle class='cls-1' cx='1266.5' cy='180.5' r='3.5'/%3E%3Ccircle class='cls-1' cx='516' cy='33' r='7'/%3E%3Ccircle class='cls-1' cx='484.5' cy='88.5' r='3.5'/%3E%3Cg class='cls-2'%3E%3Cpath class='cls-3' d='M218.35,534.22a1.68,1.68,0,0,0-1.68,0L186,552.35a1.67,1.67,0,1,0,1.7,2.87l22-13L168.78,584.7l-20.36-6.22L175,562.76a1.67,1.67,0,0,0-1.7-2.88l-29.84,17.65a1.66,1.66,0,0,0,.37,3L168.13,588l10.73,19.53,0,.05a1.73,1.73,0,0,0,1.43.82,1.68,1.68,0,0,0,1.17-.48l12.34-12.06L217,603a1.67,1.67,0,0,0,.49.08,1.7,1.7,0,0,0,1-.33,1.68,1.68,0,0,0,.68-1.35V535.67A1.67,1.67,0,0,0,218.35,534.22ZM179,589a1.7,1.7,0,0,0-.3,1v10.23l-7.32-13.33,32.41-33.64ZM182,602.75V592.24l8.18,2.51Zm33.85-3.65-32.85-10,32.85-47.42Z'/%3E%3Cpath class='cls-3' d='M161.09,592.1a1.67,1.67,0,0,0-2.36,0l-15.61,15.6a1.68,1.68,0,0,0,0,2.37,1.68,1.68,0,0,0,2.37,0l15.6-15.61A1.67,1.67,0,0,0,161.09,592.1Z'/%3E%3Cpath class='cls-3' d='M140.3,612.89a1.65,1.65,0,0,0-2.36,0l-3.84,3.84a1.65,1.65,0,0,0,0,2.36,1.63,1.63,0,0,0,1.18.49,1.65,1.65,0,0,0,1.18-.49l3.84-3.84A1.65,1.65,0,0,0,140.3,612.89Z'/%3E%3Cpath class='cls-3' d='M157.45,616.63a1.67,1.67,0,0,0-2.85,1.18,1.71,1.71,0,0,0,.49,1.19,1.67,1.67,0,0,0,2.36,0,1.71,1.71,0,0,0,.49-1.19A1.68,1.68,0,0,0,157.45,616.63Z'/%3E%3Cpath class='cls-3' d='M169.89,604.2a1.67,1.67,0,0,0-2.37,0l-8.26,8.26a1.67,1.67,0,0,0,0,2.36,1.65,1.65,0,0,0,1.18.49,1.63,1.63,0,0,0,1.18-.49l8.27-8.26A1.67,1.67,0,0,0,169.89,604.2Z'/%3E%3Cpath class='cls-3' d='M198.41,603.56a1.67,1.67,0,0,0-2.36,0l-8.29,8.29a1.67,1.67,0,0,0,2.37,2.36l8.28-8.29A1.65,1.65,0,0,0,198.41,603.56Z'/%3E%3Cpath class='cls-3' d='M181,556.79a1.68,1.68,0,0,0-1.19-.49,1.64,1.64,0,0,0-1.18.49,1.67,1.67,0,0,0,1.18,2.85,1.72,1.72,0,0,0,1.19-.49,1.67,1.67,0,0,0,0-2.36Z'/%3E%3C/g%3E%3Cg class='cls-4'%3E%3Cpath class='cls-3' d='M1167.76,86.15l-67.83-18.59a3.9,3.9,0,0,0-4.8,2.73l-13.77,50.25a3.9,3.9,0,0,0,2.73,4.8l67.83,18.59a3.9,3.9,0,0,0,4.8-2.74L1170.5,91A3.91,3.91,0,0,0,1167.76,86.15Zm-13.55,54.36a1.3,1.3,0,0,1-1.6.91l-67.83-18.59a1.31,1.31,0,0,1-.91-1.6L1097.64,71a1.31,1.31,0,0,1,1.6-.91l67.83,18.59a1.3,1.3,0,0,1,.91,1.6l-13.77,50.25Z'/%3E%3Cpath class='cls-3' d='M1164,90.52a1.29,1.29,0,0,0-1,0L1127.33,107a2.6,2.6,0,0,1-3.23-.89l-22.31-32.29a1.3,1.3,0,1,0-2.14,1.49L1122,107.55a5.19,5.19,0,0,0,6.46,1.77l35.65-16.4a1.29,1.29,0,0,0,.68-.73,1.31,1.31,0,0,0,0-1A1.28,1.28,0,0,0,1164,90.52Z'/%3E%3Cpath class='cls-3' d='M1111.71,104.56a1.3,1.3,0,0,0-1.32.06l-22.75,14a1.3,1.3,0,0,0,0,2.27,1.32,1.32,0,0,0,1.32,0l22.75-14a1.3,1.3,0,0,0,0-2.27Z'/%3E%3Cpath class='cls-3' d='M1139.86,112.69a1.3,1.3,0,0,0-1.1-.72,1.3,1.3,0,0,0-1.2,1.93L1150,137.57a1.3,1.3,0,0,0,2.31-1.21Z'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
}
.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
input[type="button"] {
  background: #2299dd;
  color: #fff;
  border-radius: 4px;
  border: 0;
  min-width: 88px;
  min-height: 36px;
  line-height: 36px;
  font-weight: 600;
  margin: 0 8px;
  text-transform: uppercase;
  cursor: pointer;
}

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}
/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #0f3352;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #0f3352;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #0f3352;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #2299dd;
  border-radius: 1.3px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #2299dd;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #2299dd;
  border-radius: 1.3px;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #2299dd;
  border-radius: 2.6px;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #2299dd;
}
input[type="range"]::-ms-fill-upper {
  background: #2299dd;
  border-radius: 2.6px;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #2299dd;
}
#signature {
  background: #fff;
  box-shadow: 0 0 30px rgba(16, 14, 23, 0.25);
}
h1 {
  text-align: left;
  margin-bottom: 0;
}
p {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 75px;
}
canvas {
  vertical-align: bottom;
  width: 120px !important;
  height: 120px !important;
}
canvas:focus {
  outline: none;
}
table table tr td input[type="text"] {
  border: 1px solid #ccc;
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  font-size: 15px;
}

.label-styles {
  text-transform: capitalize;
}
.label-styles:hover {
  position: relative;
}
.label-styles:hover:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 29 30' height='30px' id='Layer_1' version='1.1' viewBox='0 0 29 30' width='29px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Crect fill='%23231F20' height='22.68' transform='matrix(-0.7071 -0.7072 0.7072 -0.7071 10.4473 37.3449)' width='10.846' x='7.536' y='5.169'/%3E%3Cpath d='M27.638,3.996l-2.46-2.459c-1.357-1.358-3.56-1.358-4.917,0l-1.725,1.724l7.67,7.669l1.725-1.724 C29.288,7.848,28.997,5.354,27.638,3.996z' fill='%23231F20'/%3E%3Cpolygon fill='%23231F20' points='0,30 7.088,30 0,22.28 '/%3E%3C/g%3E%3C/svg%3E");
  background-size: 15px;
  width: 15px;
  height: 16px;
  position: absolute;
  right: -25px;
  background-repeat: no-repeat;
  top: 4px;
}
