.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.headText h1{
  color: #125086
}

.headText p{
  font-weight: 500;
}

.App-link {
  color: #09d3ac;
}
input[type="button"] {
  background: #2299dd;
  color: #fff;
  border-radius: 4px;
  border: 0;
  min-width: 88px;
  min-height: 36px;
  line-height: 36px;
  font-weight: 600;
  margin: 0 8px;
  text-transform: uppercase;
  cursor: pointer;
}

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}
/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #0f3352;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #0f3352;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #0f3352;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #2299dd;
  border-radius: 1.3px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #2299dd;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #2299dd;
  border-radius: 1.3px;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #2299dd;
  border-radius: 2.6px;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #2299dd;
}
input[type="range"]::-ms-fill-upper {
  background: #2299dd;
  border-radius: 2.6px;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #2299dd;
}
#signature {
  background: #fff;
  box-shadow: 0 0 30px rgba(16, 14, 23, 0.25);
  
}
h1 {
  text-align: left;
  margin-bottom: 0;
}
p {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 75px;
}
canvas {
  vertical-align: bottom;
  width: 120px !important;
  height: 120px !important;
}
canvas:focus {
  outline: none;
}
table table tr td input[type="text"] {
  border: 1px solid #ccc;
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  font-size: 15px;
}

.label-styles {
  text-transform: capitalize;
}
.label-styles:hover {
  position: relative;
}
.label-styles:hover:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 29 30' height='30px' id='Layer_1' version='1.1' viewBox='0 0 29 30' width='29px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Crect fill='%23231F20' height='22.68' transform='matrix(-0.7071 -0.7072 0.7072 -0.7071 10.4473 37.3449)' width='10.846' x='7.536' y='5.169'/%3E%3Cpath d='M27.638,3.996l-2.46-2.459c-1.357-1.358-3.56-1.358-4.917,0l-1.725,1.724l7.67,7.669l1.725-1.724 C29.288,7.848,28.997,5.354,27.638,3.996z' fill='%23231F20'/%3E%3Cpolygon fill='%23231F20' points='0,30 7.088,30 0,22.28 '/%3E%3C/g%3E%3C/svg%3E");
  background-size: 15px;
  width: 15px;
  height: 16px;
  position: absolute;
  right: -25px;
  background-repeat: no-repeat;
  top: 4px;
}
.st0 {
  fill: #050038;
}
.logo {
  text-align: left;
}
.logo svg {
  max-width: 200px;
}
